.b-sixth{
    width: 100%;
    margin: 0 auto;
    padding: 20px  20px;
     margin-top: 50px;
}
.b-main-sixth{
    max-width: 1360px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px;
   /* background-color: #54725D; */
   border-radius: 30px;
   gap: 50px;
}
.b-sixth-main-handing{
    font-size: 70px;
}
.b-sixth-main-handing h1{
    font-size: 1.6em;
    color: white;
    font-weight: 800;
}

.container {
    width: 100%;
    /* min-height: 100svh; */
    display: flex; 
     align-items: center;
    justify-content: center;
  
  }
  
  .accordions {
    margin: 0 auto;
    display: flex; 
    align-items: center;
  justify-content: center;
  flex-direction: column;
    
  }
  
  .accordion {
      border: 1px solid #ccc;
     margin-bottom: 1rem;
      overflow: hidden;
     transition: border-color .5s ease;
      background-color: #f1f1f1;
     width: 700px;
  }
  
  .accordion:hover {
    border-color: #000;
  }
  
  .accordion__header {
    cursor: pointer;
    font-family: 'Uncut Sans';
    font-weight: 500;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem;
    /* color: #666; */
  
  }
  .accordion__header:after, .accordion__header:before {
    content: '';
    position: absolute;
    right: 1.5em;
    width: 2px;
    height: 0.75em;
    background-color: #666;
    transition: all 0.2s;
  }
  .accordion__header:after {
    transform: rotate(90deg);
  }
  
  .accordion:has(input:checked) .accordion__header {
    color: #000;
  }
  
  .accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    * {
          padding: 0 1em 1em;
    }
  }
  .accordion__content p{
    font-family: 'Uncut Sans';
    font-weight: 500;
  }
  
  .accordion input {
    display: none;
  }
  
  .accordion:has(input:checked) {
    border-color: #000;
    background-color: #fff;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }
  
  .accordion input:checked ~ .accordion__header:before {
      transform: rotate(270deg) !important;
    background-color: #000;
   }
  
  .accordion input:checked ~ .accordion__header:after {
      transform: rotate(270deg) !important;
    background-color: #000;
   }
  
  .accordion input:checked ~ .accordion__content {
      max-height: 1000px; /* Adjust based on content length */
  }